li {
    margin-top: 13px;
    color: rgba(226, 220, 220, 0.7);
    text-decoration: underline; 
    text-decoration-color: rgba(226, 220, 220, 0.7);
    font-size: 14px;
}

.footerComp {
    padding: 60px 180px;
}

.underline {
    text-decoration: underline;
    text-decoration-color: rgba(226, 220, 220, 0.7); 
}
p{
    color: rgba(226, 220, 220, 0.7);
}
